<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.travel.travelMapper">


	<insert id="t_travelapilist">		
		INSERT INTO t_tgroub_table (contentid, contenttype, mapx, mapy, count) 
		VALUE (#{contentid}, #{contenttype}, #{mapx}, #{mapy}, #{count}) ON DUPLICATE KEY UPDATE contentid = #{contentid}
	</insert>

	<insert id= "t_bookmarkinfo">        
        insert into t_bookmark_table (TourMembercode, contentid)
		select (select TourMembercode from umemeber_table a, t_member_table b where a.mcode = b.mcode and a.mid =  #{tourmembercode}), #{contentid} from dual
		where not exists (select * from t_bookmark_table where 
        TourMembercode = (select TourMembercode from umemeber_table a, t_member_table b where a.mcode = b.mcode and a.mid =  #{tourmembercode}) 
        and contentid = #{contentid});
	</insert>
	
	<insert id= "t_goodmarkinfo">        
        insert into t_good_table (TourMembercode, contentid)
		select (select TourMembercode from umemeber_table a, t_member_table b where a.mcode = b.mcode and a.mid =  #{tourmembercode}), #{contentid} from dual
		where not exists (select * from t_good_table where 
        TourMembercode = (select TourMembercode from umemeber_table a, t_member_table b where a.mcode = b.mcode and a.mid =  #{tourmembercode}) 
        and contentid = #{contentid});
	</insert>
	
	<insert id= "t_review_table">
		insert into t_review_table (TourMembercode, contentid, tourtext, star)
		values ((select TourMembercode from umemeber_table a, t_member_table b where a.mcode = b.mcode and a.mid =  #{tourmembercode}), #{contentid}, #{tourtext}, #{star})
	</insert>
	
	<insert id = "t_member_table">
		insert into t_member_table (MCODE, TMname, TMgender, Tmage, TMphone) values ((select mcode from umemeber_table where mid = #{mid}), #{tmname}, #{tmgender}, #{tmage}, #{tmphone})
	</insert>
	
	<select id = "t_reviewselectinfo" resultType="com.travel.model.ReviewVO">
		select c.Rcode, a.mid, c.tourtext, c.star, c.tourdate, c.contentid from umemeber_table a, t_member_table b, t_review_table c 
		where a.mcode = b.mcode and b.TourMembercode = c.TourMembercode and contentid = #{contentid} ORDER BY Rcode DESC;
	</select>
	
	<select id = "t_groubcheck" resultType="com.travel.model.TMemberVO">
		SELECT b.TourMembercode, b.MCODE, b.TMname, b.TMgender, b.TMage, b.TMphone FROM umemeber_table a, t_member_table b 
		where (a.mcode = (select mcode from umemeber_table where mid = #{mid}))
		and (b.mcode = (select mcode from umemeber_table where mid = #{mid}))
	</select>
	
	<select id ="t_bookmarkrecommend" resultType="com.travel.model.bookmarkrecommendVO">
		select *, count(*) as num from t_bookmark_table where TourMembercode 
		in (select mcode from t_member_table where mcode != (select mcode from umemeber_table where mid = #{mid}) and TMage between 
		(SELECT truncate((select tmage from t_member_table where mcode = (select mcode from umemeber_table where mid = #{mid})), -1) FROM DUAL) 
		and (SELECT truncate((select tmage from t_member_table where mcode = (select mcode from umemeber_table where mid = #{mid}))+10, -1) FROM DUAL))
		GROUP BY contentid HAVING num>1;
	</select>
	
	<select id ="nologinrecommend" resultType="com.travel.model.bookmarkrecommendVO">
		select *, count(*) as num from t_bookmark_table GROUP BY contentid HAVING num>1;
	</select>
	
	<select id ="areabaseinfo" resultType="com.travel.model.TravelareainfoVO">
		select * from t_tgroub_table where contentid = #{contentid}
	</select>
	
	<select id ="checkboxbookmarkview" resultType="com.travel.model.BookMarkVO">
		select * from t_bookmark_table where 
		(select TourMembercode from umemeber_table a, t_member_table b where a.mcode = b.mcode and a.mid = #{tourmembercode})
    	and contentid = #{contentid}
	</select>
	
	<select id ="checkboxgoodmarkview" resultType="com.travel.model.BookMarkVO">
		select * from t_good_table where 
		(select TourMembercode from umemeber_table a, t_member_table b where a.mcode = b.mcode and a.mid = #{tourmembercode})
    	and contentid = #{contentid}
	</select>
	
	<delete id="t_bookmarkdelete">
		delete from t_bookmark_table where
		(select TourMembercode from umemeber_table a, t_member_table b where a.mcode = b.mcode and a.mid = #{tourmembercode}) and  contentid = #{contentid}
	</delete>
	<delete id="t_goodmarkdelete">
		delete from t_good_table where
		(select TourMembercode from umemeber_table a, t_member_table b where a.mcode = b.mcode and a.mid = #{tourmembercode}) and  contentid = #{contentid}
	</delete>
</mapper>


